@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');




.brand-name-container {
    font-size: 10px;
    display: flex;
    padding: 0 5px;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    width: 5.5vw;
    height: 2vh;

   
}
.brand-name-container img{
    width: 1rem;
    height: 1rem;
    border-radius: 20%;
    margin-right: 5px;

}