@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --color-primary: rgb(11, 0, 22);
    --color-light: rgba(132, 139, 200, 0.18);
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-white: #fff;
    --color-dark-variant: #677483;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-background: #f6f6f9;

    --color-gray: gray;

    --color-border:  rgb(170, 170, 170);

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow: hidden;
    background: #E5E7E6;

}

.container {
    display: grid;
    width: 80vw;
    height: 90vh;
    margin: 40px auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
    border-radius: 20px;
    background: white;
}

aside{
    height: 90vh;
    border-radius: 20px;
    border: 1px solid var(--color-border);
    
}

aside .top{
    background: white;
    display: grid;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;

}


aside .close {
    display: none;
}


aside h2 {
    font-size: 0.8rem;
    margin-top: 7px;
}


aside span{
    font-size: 0.4rem;
    margin: 0 0;
}


aside .logo {
    display: flex;

}

aside .logo .profile-logo{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-left: 50px;

    border-radius: 20px;
    border: 1px solid var(--color-border);


}

aside .logo .company-logo {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 20%;
    margin-left: 14px;
    margin-right: 5px;

}

aside .sidebar{
    margin-top: 1rem;
}

.sidebar .billing button.add-billing{
    background: var(--color-gray);
    color: white;
    width: 50px;
    height: 15px;
    font-size: 0.6rem;

    border-radius: 4px;
    border: 1px solid var(--color-border);

    cursor: pointer;

}



aside .sidebar .team-amount{

    border-radius: 2px;
    border: 1px solid var(--color-border);
    background: rgb(228, 228, 228);
    color: black;
    width: 20px;


    display: flex;
    justify-content: space-evenly;


    position: absolute;
    right: 0;
    margin-right: 10px;


}


aside .sidebar a{
    display: flex;
    align-items: center;
    color: var(--color-dark);
    margin: 5px 15px;
    gap: 5px;
    position: relative;

    border-radius: 4px;
    border: 1px solid #E5E7E6;

    width: 90%;
    transition: all 300ms ease;
    font-size: 0.8rem;

}

aside .folders-title{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

aside .folders-title span{
    font-size: 0.8rem;
    margin-left: 2px;
}


aside a.invites{
    margin-top: 18rem;

}


aside a.folders{
    /* background: red; */
    display: flex;
    
}

.dropdown-icon{
    position: absolute;
    right: 0;
    margin-right: 10px;
}